<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
     http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">
     
     <!-- spring mvc  annotation -->
    <mvc:annotation-driven />
     
	<!-- File upload -->
	<beans:bean id="multipartResolver" class="com.lbyt.client.FileUploadReslover">
		<beans:property name="maxInMemorySize">
			<beans:value>20480</beans:value>
		</beans:property>
		<beans:property name="defaultEncoding">
			<beans:value>UTF-8</beans:value>
		</beans:property>
	</beans:bean>
	<!-- exception handler -->
	<beans:bean id="exceptionResolver" class="com.lbyt.client.ExceptionResolver">
	</beans:bean>
	<!-- aop -->
	<context:component-scan base-package="com.lbyt.client" />
	<aop:aspectj-autoproxy />
</beans:beans>